


<div class="container">
  <%= render partial: '/children/show' %> 
</div>

<div id="space"></div>
<div class="container child_thumbs">  
  <div class="row">
    <div class="col">
      <div id = "Milestones" class="miles field" data-toggle="modal" data-target=".bd-miles">
        <h6 class='field_title'>Milestones</h6>
      </div>
      
      <div class="modal fade bd-miles" id = "Milestones" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                  <!-- <span aria-hidden="true">&times;</span> -->
             <table class="table">
              <caption style = "text-align: center"><strong>
                <%= link_to " + Add New Milestones", new_mother_child_milestone_path %></strong> <br>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></caption>
                <thead>
                  <tr>
                    <th class = "miles_head" scope="col">Months</th>
                    <th class = "miles_head" scope="col">Growth</th>
                    <th class = "miles_head" scope="col">Social</th>
                    <th class = "miles_head" scope="col">Communication</th>
                    <th class = "miles_head" scope="col">Cognitive</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <th class = "miles_head" scope="row">0 to 1</th>
                    <td class = "miles_cell" bgcolor="#FC370B">2/6</td>
                    <td class = "miles_cell" bgcolor="#0BFC16">2/2</td>
                    <td class = "miles_cell" bgcolor="#FFB233">5/6</td>
                    <td class = "miles_cell" bgcolor="#FC370B">0/3</td>
                  </tr>
                  <tr>
                    <th class = "miles_head" scope="row">1 to 2</th>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>      
                  </tr>
                  <tr>
                    <th class = "miles_head" scope="row">2 to 3</th>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>
                    <td class = "miles_cell" bgcolor="#FBFBF8"></td>      
                  </tr>
                  <tr>
                    <th class = "miles_head" scope="row">3 to 4</th>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>      
                  </tr>
                  <tr>
                    <th class = "miles_head" scope="row">4 to 6</th>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>      
                  </tr>
                  <tr>
                    <th class = "miles_head" scope="row">6 to 9</th>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>      
                  </tr>
                  <tr>
                    <th class = "miles_head" scope="row">9 to 12</th>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>
                    <td bgcolor="#FBFBF8"></td>      
                  </tr>
                </tbody>
                <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><strong>X</strong></button>
          </div>
              </table>
              
          </div>
        </div>
      </div>
  </div>
    <div class="col">
      <div id = "Vaccinations" class="vaccs field" data-toggle="modal" data-target=".bd-vacc">
        <h6 class='field_title'>Vaccinations</h6>
      </div>
      
      <div class="modal fade bd-vacc" id = "Vaccinations" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">        
          <div class="modal-content">            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class = "vac_head">Age / <br>Vaccination </th>
                    <th scope="col" class = "vac_head">0 to 1</th>
                    <th scope="col" class = "vac_head">1 to 2</th>
                    <th scope="col" class = "vac_head">2 to 3</th>
                    <th scope="col" class = "vac_head">3 to 4</th>
                    <th scope="col" class = "vac_head">4 to 6</th>
                    <th scope="col" class = "vac_head">6 to 9</th>
                    <th scope="col" class = "vac_head">9 to 12</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Hep B</th>
                    <td class = "vac_cell" bgcolor="green">*<%= Date.today %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 60 %></td>
                    <td class = "vac_cell"bgcolor="#FFB233">*<%= @child.birthday + 90 %></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 270 %></td> 
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td> 
                  </tr>
                  <tr>
                    <th scope="row">RV</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 180 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 270 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td>      
                    <td></td>      
                  </tr>
                  <tr>
                    <th scope="row">DTap</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 90 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 120 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 180 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 270 %></td>
                    <td class = "vac_cell"></td>      
                  </tr>
                  <tr>
                    <th scope="row">Hib</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 90 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 120 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 180 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 270 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td>      
                  </tr>
                  <tr>
                    <th scope="row">PCV</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 90 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 120 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 180 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 270 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td> 
                    </tr>
                  <tr>
                    <th scope="row">IPV</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233" >*<%= @child.birthday + 270 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233" >*<%= @child.birthday + 365 %></td>      
                  </tr>
                  <tr>
                    <th scope="row">Influenza</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 270 %></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td>      
                  </tr>
                  <tr>
                    <th scope="row">MMR</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td>      
                  </tr>
                  <tr>
                    <th scope="row">Varicella</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td>      
                  </tr>
                  <tr>
                    <th scope="row">Hep A</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell" bgcolor="#FFB233">*<%= @child.birthday + 365 %></td>      
                  </tr>
                  <tr>
                    <th scope="row">Meningococcal</th>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>
                    <td class = "vac_cell"></td>      
                  </tr>
                </tbody>
                <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><strong>X</strong></button>
          </div>
              </table>            
          </div>
        </div>
      </div>
          </div>

    <div class="col">
      <div id = "Activities" class="acts field" data-toggle="modal" data-target=".bd-activities">
        <h6 class='field_title'>Activities</h6>
      </div>
      
      <div class="modal fade bd-activities" id = "Activities" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
             <table class="table">
              <caption style = "text-align: center"><strong>
                <%= link_to " + Add New Milestones", new_mother_child_milestone_path(@mother,@child) %></strong></caption>
                <thead>
                  <tr>
                    <th class = "miles_head" scope="col">Months</th>
                    <th class = "miles_head" scope="col">Milestone Resources</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <th class = "other_head" scope="row">0 to 1</th>
                    <td></td>                    
                  </tr>
                  <tr>
                    <th class = "other_head" scope="row">1 to 2</th>
                    <td></td>      
                  </tr>
                  <tr>
                    <th class = "other_head" scope="row">2 to 3</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th class = "other_head" scope="row">3 to 4</th>
                    <td></td>
                  </tr>                  
                  <tr>
                    <th class = "other_head" scope="row">4 to 6</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th class = "other_head" scope="row">6 to 9</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th class = "other_head" scope="row">9 to 12</th>
                    <td></td>
                  </tr>
                </tbody>
                <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><strong>X</strong></button>
          </div>
              </table>           
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    
    

        </div>
      </div>
    </div>
