<div>
  <div id= "bgheader" class="jumbotron jumbotron-fluid mb-0 mr-0" style="height: 50vh;">
    <div class="container">
      
      <div class="row">
         <div class="col-lg-3 mt-0" style= "text-align: right ;">
          <div class="child_avatar">
            <% if @child.avatar.url.nil? %>
                <%= image_tag 'newborn.png', height: '60%' %>
            <% else %>
                <%= image_tag @child.avatar.url, height: '60%' %>
            <% end %> 
        </div>
           <div class = "col-4">
                    <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: white; margin-top: 3%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">                 
            </div>
            </div>
            <div class="col-lg-6 mt-5" style= "text-align: center;">
              <strong> <h1 style="margin-top:0%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; font-family: 'Arvo', serif; font-size: 4em; color: white;"><%= @child.name %>'s<span style="color:#02e595"> </span><span style="color:#02e595">Page</span></h1> </strong>        
                  <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: white; margin-top: 3%; margin-left: 3%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; "></p>
              </div>       
           <div class="col-lg-3 mt-0" style= "text-align: left;">
           <div class="child_profile">  
                <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: white; margin-top: 3%; text-align: center; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">    
                  <span style = "margin: 3vw"><strong>About Me</strong></span> 
                <p style="font-family: 'Arvo',serif;font-size: 1em;color: white; margin-top: 3%; text-align: center; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">    
                <span style = "margin: 3vw">Parent: <%= @mother.first_name %> <%= @mother.last_name %></span>
                <p style="font-family: 'Arvo',serif;font-size: 1em;color: white; margin-top: 3%; text-align: center; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">    
                <span style = "margin: 3vw">D.O.B.: <%= @child.birthday %></span>          
          </div>
        </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<%#= link_to "New", new_mother_child_milestone_path %>

<h4 style = "text-align: center"><strong>My Dashboard</strong></h4>
<br>


<div class="container">  
  <div class="row">
    <div class="col">
        <!-- Large modal -->
        <button type="button" id = "Milestones" class="miles" data-toggle="modal" data-target=".bd-miles" style = "border-radius: 50%;">
        <strong>My Milestones</strong></button>
        <div class="modal fade bd-example-modal-lg" id = "Milestones" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                     <table class="table">  
                  <caption><%= link_to "Add New Milestone", new_mother_child_milestone_path %></caption>         
            <thead>
              <tr>
                <th scope="col">Age Range</th>
                <th scope="col">Development</th>
                <th scope="col">Vaccinations</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">0 to 1</th>
                <td>
                  <p>Average weight gain of 900 grams at the mean rate of 20-30 grams per day</p>
                  <p>Up to 5 cm increase in length</p>
                  <p>Around 15 inch growth of head circumference</p>
                  <p>Can stretch arms and legs and also bend back sometimes</p>
                  <p>Legs and feet continue to rotate inwards</p>
                  <p>Can lift head for a few seconds</p>
                  <p>Ready for supervised tummy time</p>
                </td>
                <td>
                  <p>Get comfort by sucking hands and toes</p>
                  <p>Smile when passing gas or urine, falling asleep or just feeling comfortable and satisfied after feed</p>
                  <p>May smile in response to parent</p>
                </td>                
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <!-- Large modal -->
      <button type="button" id = "Vaccinations" class="btn btn-primary" data-toggle="modal" data-target=".bd-vacc" style = "border-radius: 50%;">
      <strong>Vaccinations</strong></button>
      <div class="modal fade bd-vacc" id = "Vaccinations" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
             <%= image_tag 'chart.gif'%>
          </div>
        </div>
      </div>
          </div>
    <div class="col">
           <!-- Large modal -->
      <button type="button" id = "Activities" class="btn btn-primary" data-toggle="modal" data-target=".bd-activities" style = "border-radius: 50%;">
      <strong>Activities</strong></button>

      <div class="modal fade bd-activities" id = "Activities" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            ...
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Large modal -->
    <button type="button" id = "Other" class="btn btn-primary" data-toggle="modal" data-target=".bd-other" style = "border-radius: 50%;">
    <strong>Other</strong></button>
    <div class="modal fade bd-other" id = "Other" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>