New Milestones

  Select Baby's Age Group:

  <%#= form_for @milestones do |f| %>

  <!-- <div><%#= f.label :type %></div>
  <div><%#= f.select :type, options_for_select([["select one", ""], 0 to 1,1 to 2,2 to 3,3 to 4,4 to 6,6 to 9,9 to 12])%></div> -->

<div class="container">
  <div class="row">
    <div class="col-12">

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-growth-tab" data-toggle="pill" href="#pills-growth" role="tab" aria-controls="pills-growth" aria-selected="true">Growth</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-social-tab" data-toggle="pill" href="#pills-social" role="tab" aria-controls="pills-social" aria-selected="false">Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-communication-tab" data-toggle="pill" href="#pills-communication" role="tab" aria-controls="pills-communication" aria-selected="false">Communication</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" id="pills-cognitive-tab" data-toggle="pill" href="#pills-cognitive" role="tab" aria-controls="pills-cognitive" aria-selected="false">Cognitive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-vaccination-tab" data-toggle="pill" href="#pills-vaccination" role="tab" aria-controls="pills-vaccination" aria-selected="false">Vaccination</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-growth" role="tabpanel" aria-labelledby="pills-growth-tab">
          <%=form_tag "/mothers/#{@mother.id}/children/#{@child.id}/milestones", method: :post do%>
            <div>
              <%=check_box_tag "milestones[]", "Average weight gain of 900 grams at the mean rate of 20-30 grams per day", nil%>
              <span>Average weight gain of 900 grams at the mean rate of 20-30 grams per day</span>
            </div>
            <div>
              <%=check_box_tag "milestones[]", "Around 15 inch growth of head circumference", nil%>
              <span>Around 15 inch growth of head circumference</span>
            </div>
            <div>
              <%=check_box_tag "milestones[]", "Can stretch arms and legs and also bend back sometimes", nil%>
              <span>Can stretch arms and legs and also bend back sometimes</span>
            </div>
            <div>
              <%=check_box_tag "milestones[]", "Legs and feet continue to rotate inwards", nil%>
              <span>Legs and feet continue to rotate inwards</span>
            </div>
            <div>
              <%=check_box_tag "milestones[]", "Can lift head for a few seconds", nil%>
              <span>Can lift head for a few seconds</span>
            </div>
            <div>
              <%=check_box_tag "milestones[]", "Ready for supervised tummy time", nil%>
              <span>Ready for supervised tummy time</span>
            </div>
            <%=hidden_field_tag "milestone_type", "vaccination"%>
            <%=submit_tag "Update"%>
          <% end %>
        </div>
        
        <div class="tab-pane fade" id="pills-social" role="tabpanel" aria-labelledby="pills-social-tab">B</div>
        <div class="tab-pane fade" id="pills-communication" role="tabpanel" aria-labelledby="pills-communication-tab">C</div>
        <div class="tab-pane fade" id="pills-cognitive" role="tabpanel" aria-labelledby="pills-cognitive-tab">D</div>
        <div class="tab-pane fade" id="pills-vaccination" role="tabpanel" aria-labelledby="pills-voaccination-tab">E</div>
      </div>   
    </div>
  </div>
</div>



