<div class="wrapper">
        <div class="child_header">
            <div class="child_avatar">
                <% if @child.avatar.url.nil? %>
                    <%= image_tag 'newborn.png' %>
                <% else %>
                    <%= image_tag @child.avatar.url %>
                <% end %> 
            </div>
            <div class="child_profile">
                <h1><%= @child.name %>'s Profile</h1>
                <p><%= @mother.first_name %>'s baby</p>
                <p>Date of birth: <%= @child.birthday %></p>
                <p>Age: <%=@child.age%></p>
                <%= link_to 'edit', edit_mother_child_path(@mother, @child), class:'child_button' %>
                <%= link_to 'remove', mother_child_path(@mother, @child), method: 'delete', data: { confirm: "Are you sure?" }, class:'child_button'  %>
                <%= link_to 'back', mother_path(@mother), class:'child_button'  %>
            </div>
        </div>
</div>