<div class="container wrapper">

  <% if @chatrooms.blank? %>
    <% if current_user.type == "Mother"%>
      <%= link_to doctors_path do %>
        <div id="chatroom_search">
          <%= image_tag("search_doctors.png", :alt => "rss feed") %>
          <h5>You've not connected to any doctors yet, search for doctors.</h5>
        </div>
      <% end %>
    <%elsif current_user.type == "Doctor"%>
      <%= link_to "/" do %>
        <div id="chatroom_search">
          <%= image_tag("doctor.png", :alt => "rss feed") %>
          <h5>You've not connected to any patients yet.</h5>
        </div>
      <% end %>
    <%end%>
  <% end %>
        
    <% @chatrooms.each do |room| %>
      <%= link_to chatroom_path(room), class:"border " do %>
        <div class= "d-flex justify-content-center">

          <div class="align-center">
            <% if room.doctor.avatar.url.nil? %>
              <%= image_tag 'doctor-about-icon.png', class:"img-thumbnail p-2" %>
            <% else %>
              <%= image_tag room.doctor.avatar.url, class:"img-thumbnail p-2" %>
            <% end %>
            <p>Dr. <%=room.doctor.last_name%></p>
          </div>
          <div>
            <br>
            <%= image_tag("connect.svg", :class => "img-thumbnail p-2")%>
          </div>           
          <div class="align-center">  
            <% if room.child.avatar.url.nil? %>
              <%= image_tag "newborn.png", class:"img-thumbnail p-2"%>
            <% else %>
              <%= image_tag room.child.avatar, class:"img-thumbnail p-2"%>
            <% end %>
            <p><%=room.child.name%></p>
          </div>

        </div>    
      <% end %>
      <hr>
    <%end%>
</div>