<div class="container wrapper">
  <div class="row">
    <div class="col-12" id="content1">
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" >
        <i class="glyphicon glyphicon-align-left"></i>
        <span>Book a live chat</span>
      </button>
    </div>
  </div>
</div>


<div class="sidebarwrapper">
  <nav id="sidebar" class="active border-right">
    <%if current_user.type == "Mother"%>
      <div class="doctor_profile">
        <div class="res-avatar">
          <% if @doctor.avatar.url.nil? %>
            <%= image_tag 'doctor-about-icon.png', class:"half-width" %>
          <% else %>
            <%= image_tag @doctor.avatar.url, class:"half-width" %>
          <% end %> 
        </div>
        <h3 class="mt-2"><strong>Dr. <%=@doctor.last_name%></strong></h3>
        <h5><strong>Specialty: </strong><%=@doctor.specialty%></h5>
      </div>

    <%else%>
      <div class="doctor_profile">
        <div class="res-avatar">
          <% if @child.avatar.url.nil? %>
            <%= image_tag 'newborn-sm.png', class:"half-width" %>
          <% else %>
            <%= image_tag @child.avatar.url, class:"half-width"%>
          <% end %> 
        </div>
        <h3 class="mt-2"><strong><%=@child.name%></strong></h3>
        <h5 class="mt-2"><%=@child.age%></h5>
      </div>
    <%end%>

    <div class="container"> 
      <hr>
      <br>
      <h5><strong>Current Reservations</strong></h5>  
      <div id="reservations" >
        <table class="table table-bordered">
          <tr>
            <th> </th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
          </tr>
          <% i=1%>
          <%@reservations.each do |reservation|%>
            <tr>
              <td><%=i%></td>
              <td><%=reservation.start_date%></td>
              <td><%=reservation.start_time.hour%>:<%=reservation.start_time.min%> to <%=reservation.end_time.hour%>:<%=reservation.end_time.min%></td>  
              <td>
                <%if reservation.status == "pending"%>
                  pending
                <%elsif reservation.status == "confirmed"%>
                  confirmed
                <%elsif reservation.status == "rejected"%>
                  rejected
                <%end%>
              </td>        
            </tr>
            <% i = i + 1 %>
          <% end %>
        </table>
      </div>
    </div>
    <%if current_user.type == "Mother"%>
      <div class= "container">
        <br>
        <h5><strong>Book Now</strong></h5>
        <hr>
        
        <%= form_tag "/chatrooms/#{params[:id]}/search", method: :post, remote: true do |form| %>
          <%= text_field_tag :start_date, nil,class: 'form-control mb-2 mr-sm-2 date_pickr' %>  
          <%= submit_tag "Look Up!", class: "btn btn-primary mb-2 float-right", style: 'margin-left: 25%;'  %>
        <% end %>
        <div id="timeslots">       
        </div>
      </div>
    <%end%>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-"></div>
      <div class="col-12">
          <div id="messages-table" data-user-name="<%=current_user.first_name%>" data-user-type="<%=current_user.type%>" data-room-number="<%=params[:id]%>" class="border text-box row">
            <%if current_user.type == "Doctor"%>
              <div class="comments_box col-12 mt-5" style="text-align:right">
                <div class="comments badge-info float-right">
                  <span class= " ">Hello! This is Dr. <%=@doctor.last_name%>. How can I help you?
                  </span>
                </div> 
              </div>
              <% @comments.each do |comment| %>
                <% if comment.user == current_user%>
                  <div class="comments_box col-12  mt-5" style="text-align:right">
                    <div class="comments badge-info float-right">
                      <span><%=comment.text%>
                      </span>
                    </div>
                  </div>
                <% else %>
                  <div class="comments_box col-12 mt-5"> 
                    <%=image_tag "family_icon.png", class: "message_icon"%> <span><strong> Ms.<%=comment.user.last_name%></strong></span><br>
                    <div class="comments badge-light ">
                      <span> <%=comment.text%></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end%>
            <%if current_user.type == "Mother"%>
                <div class="comments_box mt-5 col-12"> 
                  <%=image_tag "doctor_icon.png", class: "message_icon"%> <span><strong> Dr.<%=@doctor.last_name%></strong></span><br>
                  <div class="comments badge-light" > 
                    <span>Hello! This is Dr. <%=@doctor.last_name%>. How can I help you? </span>
                  </div>
                </div>
             
              <% @comments.each do |comment| %>
                <% if comment.user == current_user%>
                  <div class="comments_box mb-5 col-12" style="text-align:right"> 
                    <div class= "comments badge-info float-right mt-5" >
                      <span><%=comment.text%></span>
                    </div>
                  </div>
                <% else %>
                  <div class="comments_box mb-5 col-12"> 
                    <%=image_tag "doctor_icon.png", class: "message_icon"%> <span><strong> Dr.<%=@doctor.last_name%></strong></span><br>
                    <div class="comments badge-light">
                      <span> <%=comment.text%></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end%>
          </div>
          <%= form_tag "/chatrooms/#{@chatroom.id}/comments", remote: true, id: "comment_form", authenticity_token: true, class:"border row" do %>
            <div class="input-group mb-3">
              <%= text_field_tag :text, nil, id: "message_content", class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag "Send", id: "submit_comment", class:"m-2"%>
              </div>
            </div>  
          <% end %>
      </div>
    </div>
  </div> 
</div>






<script type="text/javascript">
  var blocked_dates = [{}];

    <% @timeslots.each do |timeslot| %>
    var date_range = {
      from: "<%= timeslot.start_date.to_s %>",
      to: "<%= timeslot.end_date.to_s %>",
    };
    blocked_dates.push(date_range);
  <% end %>


  (function(){
    $('.date_pickr').flatpickr({
      dateFormat: "Y-m-d",
      enable: blocked_dates
    });
  })();

$(document).ready(function() {
  $("#sidebarCollapse").on("click", function() {
    $("#sidebar").toggleClass("active");
    $(this).toggleClass("active");
  });
});

</script>





