<div>
  <div id= "bgheader" class="jumbotron jumbotron-fluid mb-0 mr-0" style="height: 50vh;">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-3 mt-0" style= "text-align: right ;">
          <%= image_tag("newborn.png", height: '25%') %>
           <div class = "col-4">
                    <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: white; margin-top: 3%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">
                      <%# if user.type == "Mother"%>
                        <span style = "margin: 8vw" >Doctor</span><%#=  current_user.last_name%></p>
                      <%# end %>
              </div>
            </div>
            <div class="col-lg-6 mt-5" style= "text-align: center;">
              <strong> <h1 style="margin-top:0%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; font-family: 'Arvo', serif; font-size: 4em; color: white;">Chat<span style="color:#02e595"> </span><span style="color:#02e595">Room</span></h1> </strong>            
                  <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: white; margin-top: 3%; margin-left: 3%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; "></p>
            </div>        
           <div class="col-lg-3 mt-0" style= "text-align: left;">
           <%= image_tag("newborn.png", height: '25%') %>
            <div class = "col-4">
                    <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: white; margin-top: 3%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">
                      <%# if user.type == "Mother"%>
                        <span style = "margin: 3vw">Baby</span><%#=  current_user.last_name%></p>
                      <%# end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <br>
          <%= form_tag "/chatrooms/#{@chatroom.id}/comments" do %>
          <%= text_field_tag :text %>
          <%= submit_tag "Submit"%>
        <% end %>

        <h3>Chat History</h3>
        <section>
          <% @comments.each do |comment| %>
            <% if current_user.type == "Doctor"%>
            <p>Dr. <%= comment.user.last_name%>:
            <%= comment.text%></p>
            <% else current_user.type == "Mother" %>
            <p>Ms. <%= comment.user.last_name%>:
            <%= comment.text%></p>
            <% end %>
            <p><%= comment.created_at %></p>

            
          <% end %>

        </section>



      </div>
      <div class="col-2"></div>
    </div>

  </div>
