
<div class="wrapper">  
  <div class= "container mt-5">
    <h3> Welcome, Back Doctor <%=@doctor.last_name%>!</h3>
  
    <h6><em> Access your Chatrooms, view or manage your profile<em> </h6>
  
    <div class ="row align-center">
      <div class = "col-12 col-md-6 col-xl-3 mt-5" >
        <%= link_to chatrooms_path do %>
          <%= image_tag("doctor.png", :alt => "rss feed") %>
        <% end %> 
        <br/>   
       <h6 style ="margin-left:22%; margin-top: 5%">Chatrooms</h6>
      </div>
    
      <div class = "col-12 col-md-6 col-xl-3 mt-5">
        <%= link_to doctor_path do %>
          <%= image_tag("first-aid-kit.png", :alt => "rss feed") %>
        <% end %> 
        <br/>   
       <h6 style ="margin-left:13%; margin-top: 5%">View your profile</h6>
      </div>
    
      <div class = "col-12 col-md-6 col-xl-3 mt-5">
        <%= link_to edit_doctor_path do %>
          <%= image_tag("medical-history.png", :alt => "rss feed") %>
        <% end %> 
        <br/>   
       <h6 style ="margin-left:13%; margin-top: 5%">Update your profile</h6>
      </div>
    
    </div>
    
    <div class="row align-center">
      <div class= "col-12 col-md-6 col-xl-3 mt-5">
        <%= link_to timeslots_path do %>
         <%= image_tag("calendar.png", :alt => "rss feed") %>
        <% end %>
        <br/>
       <h6 style ="margin-left:13%; margin-top: 5%">Manage your timeslots!</h6>
      </div>
    </div>
    
  </div>
  
</div>