


  <div class= "container">
    <div class="card  w-100 mt-5" style = " padding: 2%">

    <br/><h5> Dr. <%=@doctor.first_name%>&nbsp<%=@doctor.last_name%> </h5><br/>
    <p> <strong> Specialty: </strong><%=@doctor.specialty%> </p>
    <p> <strong> Years of experience: </strong><%=@doctor.experience_years%> </p>
    <p> <strong> Location:  </strong><%=@doctor.location%> </p>
    <p> <strong> Qualifications:  </strong><%=@doctor.qualifications%> </p>
    <%= link_to "Book a chat now!", doctor_path(@doctor), class:"btn btn-primary", style:"width:200px" %>


  </div>

</div>