

<div class="wrapper">
  <div class= "container" >

      <div class="card  w-100 mt-5" style ="padding:2%" >
        <div id="doctor_details">
          
          <div class="doctor_avatar">
                <% if @doctor.avatar.url.nil? %>
                    <%= image_tag 'newborn.png' %>
                <% else %>
                    <%= image_tag @doctor.avatar.url %>
                <% end %> 
          </div>
          <br/><h5> Dr. <%=@doctor.first_name%>&nbsp<%=@doctor.last_name%> </h5><br/>
          <p> <strong> Specialty: </strong><%=@doctor.specialty%> </p>
          <p> <strong> Years of experience: </strong><%=@doctor.experience_years%> </p>
          <p> <strong> Location:  </strong><%=@doctor.location%> </p>
          <p> <strong> Qualifications:  </strong><%=@doctor.qualifications%> </p>

          <%=form_tag "/doctor/#{@doctor.id}/chatrooms", method: :post do%>
            <%= select_tag "child_id", options_for_select(@children_option), class:"full-width"%>
            <%=submit_tag "Connect", class:"btn btn-primary full-width text-center"%>
          <% end %>
          
        </div>



      </div>
      
  </div>
</div>


