
<div class="wrapper">
    
    <h1>Hello</h1>
    <% @timeslot.each do |t| %>
        <div class='timeslot_field'>
            <%= link_to timeslot_path(t) do %>
                <p><strong>Start date: </strong><%= t.start_date %></p>
                <p><strong>End date: </strong><%= t.end_date %></p>
                <p><strong>Start time: </strong><%= t.start_time.strftime('%I:%M %p') %></p>
                <p><strong>End time: </strong><%= t.end_time.strftime('%I:%M %p') %></p>
                <%= link_to 'edit', edit_timeslot_path(t) %>
                <%= link_to 'remove', timeslot_path(t), method: 'delete', data: { confirm: "Are you sure?" } %>
            <%end%>
        </div>
    <%end%>
    
    <button class="add_timeslot" data-toggle="modal" data-target="#exampleModal">add timeslot</button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Timeslot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%= form_tag "/timeslots" do%>
  
                <div class="modal-body">
                    <div>
                      <%=label_tag :start_date %>
                      <%= date_select 'timeslots', :start_date, :start_year => 2000, :end_year => Date.today.year %>
                    </div>
                    <div>
                      <%=label_tag :end_date%>
                      <%= date_select 'timeslots', :end_date, :start_year => 2000, :end_year => Date.today.year %>
                    </div>
                    <div>
                      <%=label_tag :start_time%>
                      <%= time_select 'timeslots', :start_time, {ampm: true} %>
                    </div>
                    <div>
                      <%=label_tag :end_time%>
                      <%= time_select 'timeslots', :end_time, {ampm: true} %>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%=submit_tag "Add"%>
                </div>
              <% end %>
  
            </div>
          </div>
        </div>
</div>

