<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>



</head>
<body>
  <div id="navbar">
    <%= form_tag '/search', id:"doctor_form", method:"get" do %>
      <%= label_tag(:doctor, "") %>
      <%= text_field_tag 'doctor', nil, list: 'list' %>
    <% end %>
        <div class="dropdown">
<<<<<<< HEAD
        <% if current_user.nil? == false %>
          <% if current_user.type == "Mother" -%> 
          <button class="dropbtn">What do you want to do?</button>
          <div class="dropdown-content">
            <a href=''>View baby profile</a>
            <a href=''>Connect with a doctor</a>
            <a href=''>View chatroom history</a>
          </div>
          <% elsif current_user.type == "Doctor" -%>
          <button class="dropbtn">What do you want to do?</button>
          <div class="dropdown-content">
            <a href=''>View my profile</a>
            <a href=''>Connect with patients</a>
            <a href='chatrooms'>View chatroom history</a>
         <% end %>
        <% end %>
=======
          <% if signed_in? %> 
            <% if current_user.type == "Mother" -%> 
            <button class="dropbtn">What do you want to do?</button>
            <div class="dropdown-content">
              <a href=''>View baby profile</a>
              <a href=''>Connect with a doctor</a>
              <a href=''>View chatroom history</a>
            </div>
            <% elsif current_user.type == "Doctor" -%>
            <button class="dropbtn">What do you want to do?</button>
            <div class="dropdown-content">
              <a href=''>View my profile</a>
              <a href=''>Connect with patients</a>
              <a href='chatrooms'>View chatroom history</a>
            <% end %>
          <% end %>
>>>>>>> ec816e9e0a4fe25821331e467ddc6c244a923dd8
        </div>
           
         <div id="header">
          <% if signed_in? -%>
          <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
          <% else -%>
          <%= link_to t(".sign_in"), sign_in_path %>
          <% end -%>

         </div>
  </div>
     
  </div>
  
  

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

 

  <%= yield %>
</body>
</html> 
